html, body, button {
  font-family:
    "Book Antiqua",
    "Palatino Linotype",
     Palatino,
    "Bookman Old Style",
     Times,
    "Times New Roman",
     serif;
  font-size: 20px;
  text-align: center;
  word-break: keep-all;
  line-height: 1.2;
  background-color: #FDEEE0; /* Кремова */
}

#osnova_flex {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  /* justify-content: space-around;center; */
  flex-wrap: wrap;
  background-color: #FFCC00; /* Кремова */
}

/* Двата div контејнери за внесување полином и негов график се со иста големина */
#vnesuvanje, #grafichko_prikazhuvanje {
  width: 671px;
  height: auto;
  display: block;
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #EEE0D0; /* Kremova Kafeava */
}

#vnesuvanje {

  /*float: left;*/
}

#grafichko_prikazhuvanje {
  position: relative;

  /*float: right;*/
}


#vnes_i_izlez_flex {
  display: flex;
  vertical-align: middle;
}

#Px {
  display: inline-block;
  /* background: #557755; */
  height:32px;
  line-height: 32px;
}

#Px > span {
  display: inline-block;
  vertical-align: middle;
}

#vnes {
  display: inline-block;
  background: #FFFFFF;

  border-radius: 15px;
  border: none;
  color: #000;
  /* font-size: 20px;
  padding: 10px 20px 10px 20px; */
  font:inherit;
  vertical-align: middle;
  padding: 0px 5px;
  /* line-height: 32px; */
  height: 32px;
  line-height: 32px;

  width: 200px;
  max-width: 610px; 

  cursor: pointer;

  transition: box-shadow 0.2s;

  box-shadow: 0 2px 2px 0 rgba(20,20,20,0.2), 0 0 0 1px rgba(0,0,0,0.08);

  /* box-shadow: 0px 0px 22px 2px #888888; */

}


#vnes:hover {

  box-shadow: 0 3px 8px 0 rgba(20,20,20,0.4), 0 0 0 1px rgba(0,0,0,0.08);
  /* background-color: #CEF; */

}


/* Бришење на синиот правоаголник кога се внесува полиномот */
#vnes:focus{
    box-shadow: 0px 3px 8px 1px rgba(0,90,200,0.6), 0 0 0 1px rgba(0,0,0,0.08);
    outline: none;
}


/* Контејнер за копчињата за избор на координатен систем, кои се додаваат динамички од JS */
#izberiKS_flex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 651px;
  margin: auto;
  position: relative;
  /*position: relative;*/
  background-color: #AACDFD;
}


.izberiKS_kopche {
  display: inline-block;
  background: #0077dd;
  background-image: linear-gradient(to bottom, #0099dd, #0077dd, #113872);
  border-radius: 15px;
  color: #fff;
  /* font-size: 20px;
  padding: 10px 20px 10px 20px; */
  font:inherit;
  vertical-align: text-top;
	padding: 0px 20px;
	/* line-height: 32px; */
  height: 32px;
  cursor: pointer;

  transition: all 0.6s;

}


/* Отстранување на сината рамка кога е кликнато копчето */
.izberiKS_kopche:focus {
    outline: none;
}

.izberiKS_kopche:active {
    color: #fff0C8;
}

.izberiKS_kopche:enabled:hover {
  background: #6c2eb8;
  background-image: linear-gradient(to bottom, #66c7ff, #6c2eb8, #6c2eb8);
}

.izberiKS_kopche:checked {
    color: #0f2;
}

.izberiKS_kopche > div {
  display: inline-block;
}

.izberiKS_kopche:enabled:hover > div {
  vertical-align:-3px;
  /* font-size: 19px;  */
  transform: scale(1, 0.91);
}

.izberiKS_kopche:disabled {
  color: #fff0C8;
  background: #6c2eb8;
  background-image: linear-gradient(to bottom, #6c2eb8, #6c2eb8, #301268);
  /* transform: scale(1.3, 1.3); */
  cursor: move;
}

.izberiKS_kopche:disabled > div {
  /* vertical-align:-3px;
  /* font-size: 19px;  */
  transform: scale(1.07, 1.07);
}


/* Контејнер за копчето за испраќање на полиномот и дозволата за примање */
#isprati_flex {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 651px;
  margin: auto;
  position: relative;
  /*position: relative;*/
  background-color: #AACDAD;
}

#isprati_kopche {
  /* background-image: linear-gradient(to bottom, #6c2eb8, #6c2eb8, #301268); */
}

#isprati_kopche:hover > div {
  vertical-align:-4px;
  /* font-size: 19px;  */
  transform: scale(1, 0.91);
}


/* Ова е платното (canvas) на кој се црта графикот */
#grafik_canvas {
  /*
  width: 651px;
  height: 481px;
  */
  display: block;
  margin: auto;
  position: relative;
  background-color: #FDFDFD;
}

#nadGrafik {
  display: block;
  position: absolute;
  left: 25px;
  width: 651px;
  margin: auto;
  z-index:77;
  background-color: #664477;
  opacity: 0.3;


}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


/* Неколку CSS класи за анимирано мени за избор на јазик, преземени од примерот
https://codepen.io/axel1998/pen/RWOpXq
а знамињата се обезбедени од https://www.iconfinder.com/ */
.languagepicker {
	background-color: #FFF;
  display: inline;
	padding: 0;
	height: 32px;
  width: 208px;
	overflow: hidden;
	transition: all .5s ease;
  margin: 0px;
	/*margin: 0 50px 10px 0;
  непотребно да се поставува ако е во flex контејнер */
  text-align: left;
	vertical-align: text-top;
}

.languagepicker:hover {
	/* don't forget the 1px border */
	height: 81px;
}

.languagepicker a{
	color: #000;
	text-decoration: none;
}

.languagepicker li {
	display: block;
  white-space: nowrap;
	padding: 0px 20px;
	line-height: 32px;
	border-top: 3px solid #ADE;
  cursor: pointer;
}

.languagepicker li:hover{
	background-color: #CEF;
  transition: all .2s ease-out;
}

.languagepicker li:first-child {
	border: none;
	background: #FFF !important;
  cursor: s-resize;
}

.languagepicker li img {
	margin-right: 8px;
  vertical-align:-2px;
}

.languagepicker li:hover > img {
  vertical-align:-3px;
  height: 18px;
  width: 28px;
  /* transition: all .5s ease-in-out; */
}


@keyframes zlatenSjajAnimacija {
  0% { background-color: white;
       color: black; }
  40% { background-color: #FEC;
      color: #D44; }
  60% { background-color: #FEC;
          color: #D44; }
  100% { background-color: white;
      color: black; }
}


.languagepicker li.zlatenSjaj {
  /* color: #00F !important;
    transition: all .2s ease-out; */
  animation-name: zlatenSjajAnimacija;
  animation-iteration-count: 1;
  animation-duration: 0.6s;
}

.roundborders {
	border-radius: 15px;
}

.large:hover {
	/*
	don't forget the 1px border!
	The first language is 40px heigh,
	the others are 41px

  height: 245px;

  Формула за висина 5 јазици по 32 пиксели, плус 4 празнини по 3 пиксели
   = 160 + 12 = 172px
	*/

	height: 172px;
}


/* Ова е флексибилен контејнер за избор на јазик, кој има апсолутна позиција
   што е НАД останатите содржини во левата половина наменета за внесување */
#jazik_flex {
  display: flex;
  position: absolute;
  z-index:44;
  background-color: #664477;
  width: inherit;
  justify-content: flex-end;
  /* justify-content: space-around;center; */
  flex-wrap: wrap;
  font-size: 17px;
}

/* Ова е бланко копија на флексибилниот контејнер за избор на јазик, кој има
   релативна позиција за да не се меша со останатите содржини во левата половина */
#jazik_flex_blanko {
   display: flex;
   position: relative;
   background-color: #002277;
   height: 80px;
   justify-content: flex-end;
   /* justify-content: space-around;center; */
   flex-wrap: wrap;
   font-size: 17px;
}

#select_language {
  /* background-color: #7EE; */
  margin-top: 7px;
  margin-right: 7px;
}
