html, body, button {
  font-family:
    "Book Antiqua",
    "Palatino Linotype",
     Palatino,
    "Bookman Old Style",
    "DejaVu Serif",
     Times,
    "Times New Roman",
     serif;
  font-size: 20px;
  text-align: center;
  word-break: keep-all;
  line-height: 1.2;
  background-color: #FDEEE0; /* Кремова */
}

#flexibilen {
  width: 98%;
  margin: auto;
  display: flex;
  justify-content: space-around;
  /* justify-content: space-around;center; */
  flex-wrap: wrap;
  background-color: #FFCC00; /* Кремова */
}

/* Двата div контејнери за внесување полином и негов график се со иста големина */
#vnesuvanje, #grafichko_prikazhuvanje {
  width: 671px;
  height: auto;
  display: block;
  padding: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #EEE0D0; /* Kremova Kafeava */
}

#vnesuvanje {

  /*float: left;*/
}

#grafichko_prikazhuvanje {
  position: relative;

  /*float: right;*/
}

/* Ова е платното (canvas) на кој се црта графикот */
#grafik_canvas {
  /*
  width: 641px;
  height: 481px;
  */
  display: block;
  margin: auto;
  position: relative;
  background-color: #FDFDFD;
}

#nadGrafik {
  display: block;
  position: absolute;
  z-index:99;
  background-color: #664477;
  opacity: 0.3;


}

button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}


.languagepicker {
	background-color: #FFF;
	display: inline-block;
	padding: 0;
	height: 40px;
	overflow: hidden;
	transition: all .3s ease;
	margin: 0 50px 10px 0;
	vertical-align: top;
	float: left;
}

.languagepicker:hover {
	/* don't forget the 1px border */
	height: 81px;
}

.languagepicker a{
	color: #000;
	text-decoration: none;
}

.languagepicker li {
	display: block;
	padding: 0px 20px;
	line-height: 40px;
	border-top: 1px solid #EEE;
}

.languagepicker li:hover{
	background-color: #EEE;
}

.languagepicker a:first-child li {
	border: none;
	background: #FFF !important;
}

.languagepicker li img {
	margin-right: 5px;
}

.roundborders {
	border-radius: 5px;
}

.large:hover {
	/*
	don't forget the 1px border!
	The first language is 40px heigh,
	the others are 41px
	*/
	height: 245px;
}
